---
import Button from "./Button.astro";

---
<div class="
  bg-white p-3 transition-all duration-500 ease-in-out
">
<div class="flex items-center space-x-2 mb-4 roll-back  cursor-pointer ml-3">
  <a href="/" class="text-gray-500 hover:text-gray-600 ">
      <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
  </a>
  <span class="text-gray-700">Back to home</span>
</div>
  <slot/>

 
  </div>


<style>
.grid-container {
  display: grid;
  /* Define the number of columns based on screen sizes */
  gap: 1rem; /* Adjust the gap between cards */
  padding: 1rem;
}

/* Style for each card */
.card {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Responsive breakpoints for the grid */
@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.roll-back{
        transition: all 0.3s ease-in-out;
    }
    .roll-back:hover{
        transform: scale(1.1);
        box-shadow: 0 0 0 3px transparent;
        transition: all 0.3s ease-in-out;
    }
    .roll-back:hover svg{
        stroke: #f5690b;
    }
    .roll-back svg{
        stroke: #f59e0b;
        transition: all 0.3s ease-in-out;
    }
</style>
